<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon aria-label="Example icon-button with a heart icon">menu</mat-icon>
        </button>
        <span class="cs-title" [class.showTitle]="displayTitle">{{ title }}</span>
        <span class="cs-spacer"></span>
        <button mat-icon-button>
            <mat-icon class="cs-icon">search</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon class="cs-icon">view_module</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon class="cs-icon">notifications</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon class="cs-icon">more_vert</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>